.block--custom-layout__map {
    .acf-map {
        width: 100%;
        height: 300px;
        border: #ccc solid 1px;
    }
    
    // Fixes potential theme css conflict.
    .acf-map img {
       max-width: inherit !important;
    }
}
